<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Pass Management</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Pass Management</h1>
    <hr>
    <h2>Update Pass</h2>

    <form action="#" th:action="@{/save}" th:object="${dt}"
          method="POST">


        <input type="hidden" th:field="*{passId}" >

        <input type="text" th:field="*{attendeeName}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{attendeeEmail}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{meetingName}" class="form-control mb-4 col-4">

        <input type="date" th:field="*{passIssuedDate}" class="form-control mb-4 col-4">

<!--

        <input type="text" th:field="*{ passStatus}" class="form-control mb-4 col-4">

        <input type="time" th:field="*{createdAt}" class="form-control mb-4 col-4">
&lt;!&ndash;     //   <input type="time" th:field="*{updatedAt}" class="form-control mb-4 col-4">&ndash;&gt;
-->


        <button type="submit" class="btn btn-info col-2"> Update Employee</button>
    </form>



    <a th:href = "@{/}"> Back to Employee List</a>
</div>
</body>
</html>